<!DOCTYPE html>
<html>

<head>
    <title>Spreadsheet Parser</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://metrics.cityoflewisville.com/assets/pmartin_dark.png" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" src="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
    <script src="https://unpkg.com/xlsx@0.13.5/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <!-- <script type="text/javascript" src="./moment/moment.js"></script> -->
</head>

<body class="grey lighten-3">
    <div id="app" v-cloak>
        <v-app class="indigo">
            <v-content>
                <v-container>
                    <h1 class="white--text display-1 mb-3" v-if="uploaderConfig.title">{{ uploaderConfig.title }}</h1>
                    <p class="white--text" v-if="uploaderConfig.description">{{ uploaderConfig.description }}</p>

                    <v-stepper v-model="stepper" vertical v-if="uploaderConfig.id!=-1">
                        <v-stepper-step :complete="stepper > 1" step="1" :editable="stepper>1">
                            Select a spreadsheet
                            <small>Choose a .csv or .xlsx</small>
                        </v-stepper-step>
                        <v-stepper-content step="1">
                            <v-flex>
                                <v-btn color="blue-grey" @click="pickFile" dark>
                                    <v-icon>attach_file</v-icon>
                                    &nbsp; Select Spreadsheet
                                </v-btn>
                                <a target="_blank" href="https://drive.google.com/uc?export=download&id=1qnmGQqJdC6H_h1i0Jn31x-1fKchUt_Nb">test spreadsheet</a>
                                <input style="display: none" type="file" id="csvFileInput" accept=".csv,.xlsx" ref="myFiles" @change="updateFileName" />
                            </v-flex>
                            <v-alert
                                v-if="filename.length!=0"
                                :value="true"
                                type="info">
                                {{ filename }} - {{ filesize }}
                            </v-alert>
                            <v-btn color="primary" @click="handleFiles" :disabled="filename.length==0 || processing">Continue</v-btn>
                        </v-stepper-content>
                        <v-stepper-step :complete="stepper > 2" step="2" :editable="stepper>2">
                            Column Mapping
                        </v-stepper-step>
                        <v-stepper-content step="2">
                            <v-flex xs12 lg5>
                                <p>Match each field with its corresponding spreadsheet header.</p>
                                <v-select
                                    class="mt-0"
                                    v-for="col in columns"
                                    v-model="columnMap[col]"
                                    :key="col"
                                    :label="col"
                                    :items="verifiedHeaders">
                                </v-select>
                            </v-flex>
                            <v-btn color="primary" @click="stepper = 3" :disabled="verifiedHeaders.length == 0">Continue</v-btn>
                        </v-stepper-content>
                        <v-stepper-step :complete="stepper > 3" step="3" :editable="stepper>3">Verify data</v-stepper-step>
                        <v-stepper-content step="3">
                            <v-flex>
                                <p>This is how the data will look going into the table. Double check it.</p>
                                <v-card flat>
                                    <v-data-table
                                        :items="fileAsArrayFormatted"
                                        :headers="verifiedHeadersFormatted"
                                        disable-initial-sort
                                        :rows-per-page-items="[10,25,50,100]">
                                        <template slot="items" slot-scope="props">
                                            <td v-for="(prop, i) in props.item">{{ prop }}</td>
                                        </template>
                                    </v-data-table>
                                </v-card>
                            </v-flex>
                            <v-btn color="primary" @click="stepper = 4">Continue</v-btn>
                        </v-stepper-content>
                        <v-stepper-step step="4">???</v-stepper-step>
                        <v-stepper-content step="4">
                            <v-flex xs12><code class="pa-4">{{ fileAsArrayFormatted }}</code></v-flex>
                            <v-btn color="primary">Continue</v-btn>
                        </v-stepper-content>
                    </v-stepper>
                </v-container>
            </v-content>
        </v-app>
    </div>
    <!-- source code -->
    <script type="text/javascript" src="app.js"></script>
</body>