<!DOCTYPE html>
<html>

<head>
    <title>Uploader Editor</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://metrics.cityoflewisville.com/assets/pmartin_dark.png" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" src="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.2.0/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://eservices.cityoflewisville.com/COLSecurity/col_security.js"></script>
    <!-- <script type="text/javascript" src="./moment/moment.js"></script> -->
</head>

<body>
    <div id="app" v-cloak>
        <v-app class="indigo">
            <v-container>
                <v-layout>
                    <v-flex>
                        <h1 class="white--text display-1 mb-3">Spreadsheet Uploader Editor</h1>
                        <v-stepper v-model="stepper" light v-if="!done">
                            <v-stepper-header>
                                <v-stepper-step :complete="stepper > 1" step="1">Choose an uploader</v-stepper-step>
                                <v-divider></v-divider>
                                <v-stepper-step :complete="stepper > 2" step="2">Configure</v-stepper-step>
                                <v-divider></v-divider>
                                <v-stepper-step step="3">Step 3</v-stepper-step>
                                <v-divider></v-divider>
                                <v-divider></v-divider>
                                <v-divider></v-divider>
                                <v-divider></v-divider>
                                <v-divider></v-divider>
                            </v-stepper-header>
                            <v-stepper-items>
                                <!-- choosing a table -->
                                <v-stepper-content step="1" class="grey lighten-4">
                                    <v-layout row wrap>
                                        <v-flex xs12>
                                            <p class="subheading">Choose an uploader to edit. If it doesn't appear, check that it exists at <code class="white">[AX1VSQL8].[CSVUploadApp].[Uploader_Configs]</code></p>
                                        </v-flex>
                                        <v-flex xs12 lg5 mb-3>
                                            <v-select
                                                v-model="selected.config"
                                                :items="configsFormatted"
                                                label="Configs..."
                                                :loading="isLoading.configs"
                                                :disabled="isLoading.configs"
                                                hide-details
                                                solo>
                                            </v-select>
                                        </v-flex>
                                    </v-layout>
                                    <v-btn color="primary" @click="stepper = 2; setDetails()" :disabled="isLoading.configs || !selected.config">
                                        Continue
                                    </v-btn>
                                </v-stepper-content>
                                <!--  mask the table -->
                                <v-stepper-content step="5" class="grey lighten-4">
                                    <v-layout row wrap>
                                        <v-flex xs12>
                                            <p class="subheading">Choose a mask for your table. Must be unique.</p>
                                        </v-flex>
                                        <v-flex xs12 lg5 :mb-3="!isUniqueMask">
                                            <v-text-field
                                                :loading="isLoading.masks"
                                                :disabled="isLoading.masks"
                                                v-model="mask"
                                                label="Mask..."
                                                hint="Click the icon to randomize!"
                                                prepend-icon="autorenew"
                                                @click:prepend="fillWithRandomMask('mask')"
                                                solo>
                                            </v-text-field>
                                            <v-alert
                                                type="error"
                                                :value="!isUniqueMask">
                                                Mask is not unique.
                                            </v-alert>
                                        </v-flex>
                                    </v-layout>
                                    <v-btn color="primary" @click="stepper = 3" :disabled="isLoading.masks || !isUniqueMask">
                                        Continue
                                    </v-btn>
                                </v-stepper-content>
                                <!-- general settings for the uploader -->
                                <v-stepper-content step="2" class="grey lighten-4">
                                    <v-card class="grey lighten-2">
                                        <v-card-text>
                                            <v-text-field
                                                v-model="title"
                                                label="Uploader title..."
                                                hint="(optional)"
                                                solo>
                                            </v-text-field>
                                            <v-textarea
                                                v-model="description"
                                                label="Description for uploader..."
                                                hint="(optional)"
                                                solo>
                                            </v-textarea>
                                            <v-checkbox :disabled="isLoading.columns" v-model="hasColumnMapping" label="Column Mapping" class="mt-0" hide-details></v-checkbox>
                                            <v-layout ml-5 v-if="hasColumnMapping" row wrap>
                                                <v-flex xs12>
                                                    <p>For each table column, fill in the corresponding spreadsheet header exactly as it appears.</p>
                                                </v-flex>
                                                <v-flex xs12 lg4 mr-3 v-for="(col,idx) in columns" :key="idx">
                                                    <v-text-field
                                                        v-model="columnMap[col]"
                                                        :label="col"
                                                        hint="Enter header exactly as it appears">
                                                    </v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-card-text>
                                    </v-card>
                                    <v-btn color="primary" @click="done = true; submit()" class="mt-4">
                                        Done!
                                    </v-btn>
                                </v-stepper-content>
                            </v-stepper-items>
                        </v-stepper>
                        <v-alert class="pointy" :value="done" type="success" @click="openUploader(mask)">
                            Your spreadsheet uploader is ready! Click here to see it.
                        </v-alert>
                        <v-btn flat @click="reset" dark>start over</v-btn>
                        <v-btn flat @click="newTab('../edit')" dark>edit</v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-app>
    </div>
    <!-- source code -->
    <script type="text/javascript" src="app.js"></script>
</body>